---
layout: default
detail: nil
title: Jcore 官方网站
keywords: jcore, 博客, 架构, IT, 程序员
---
<div class="bt-hd cl">
	<span>最新发布</span>
	<!--p>
		最新消息：您还可以 <a href="#">投稿</a> / <a href="#">广告合作</a> / <a href="#">技术支持</a>
	</p-->
	<s></s>
</div>
<ul class="main-ua">
	{% for post in paginator.posts %}
	<li>
		<dl class="cl">
			<dt><a href="{{ site.url }}{{ post.url }}"><img src="{{ site:url }}/resources/images{{ post.url }}.png" width="175" height="120" /></a></dt>
			<dd class="main-hd"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></dd>
			<dd>发表于 <span class="blue">{{ post.date | date:"%Y年%m月%d日" }}</span> - 
				<span class="ds-thread-count" data-thread-key="{{post.id}}" ></span></dd>
			<dd class="pt5"> {{ post.content | split:'<!--more-->' |first }}</dd>
		</dl>
	</li>
	{% endfor %}
</ul>
<div class="page">
	<a class="home" href="/index.html">首页</a>
	{% if paginator.previous_page %}
		<a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
	{% endif %}
	<ul>
		{% for page in (1..paginator.total_pages) %}
			{% if page == paginator.page %}
				<a class="on" href="####" >{{ page }}</a>
			{% elsif page == 1 %}
				<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			{% else %}
				<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			{% endif %}
		{% endfor %}
	</ul>
	{% if paginator.next_page %}
		<a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">下一页</a>
	{% endif %}
	<a class="end" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', paginator.total_pages }}">末页</a>
</div>