
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content="width=device-width; initial-scale=1.0" name="viewport" />
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="author" content="jcore" />
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/index.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/nprogress.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/prettify.css">
</head>