
<head>
	<meta charset="utf-8" />
	<meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
	<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="jcore">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
	<meta name="author" content="jcore" />
	
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	
	<link rel="shortcut icon" href="/favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/index.css">
	<link rel="stylesheet" type="text/css" href="{{ site.staticurl }}/resources/css/prettify.css">

	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>