<div class="widget">
	<h2 class="member">循序渐进</h2>
	<div class="item-avatar mymembers">
		<ul>
			<img alt="Java" title="Java" src="{{ site.url }}/resources/images/coding/java.png">

			<img alt="Oracle" title="Oracle" src="{{ site.url }}/resources/images/coding/oracle.png">
			<img alt="MySQL" title="MySQL" src="{{ site.url }}/resources/images/coding/mysql.png">

			<img alt="Bash" title="Bash" src="{{ site.url }}/resources/images/coding/bash.png">
			<img alt="Python" title="Python" src="{{ site.url }}/resources/images/coding/python.png">

			<img alt="Nginx" title="Nginx" src="{{ site.url }}/resources/images/coding/nginx.png">
			<img alt="Apache" title="Apache" src="{{ site.url }}/resources/images/coding/apache.png">
			<img alt="Redis" title="Redis" src="{{ site.url }}/resources/images/coding/redis.png">
			<img alt="MongoDB" title="MongoDB" src="{{ site.url }}/resources/images/coding/mongodb.png">

			<img alt="Git" title="Git" src="{{ site.url }}/resources/images/coding/git.png">
			<img alt="HTML" title="HTML" src="{{ site.url }}/resources/images/coding/html5.png">
			<img alt="Javascript" title="Javascript" src="{{ site.url }}/resources/images/coding/javascript.png">
			<img alt="Node" title="Node" src="{{ site.url }}/resources/images/coding/node.png">
			<img alt="CSS" title="CSS" src="{{ site.url }}/resources/images/coding/css3.png">
		</ul>
	</div>
</div>