<div class="widget">
	<h2 class="member">友情链接</h2>
	<ul class="links">
		<li><a href="http://www.sentsin.com/" target="_blank">闲心</a></li>
		<li><a href="http://www.dreamlu.net/" target="_blank">如梦技术</a></li>
		<li><a href="http://www.ncthinker.com/blog/" target="_blank">思客技术</a></li>
		<li><a href="http://www.ido321.com/" target="_blank">淡忘~浅思</a></li>
		<li><a href="http://www.baowz.com/" target="_blank">暴博客</a></li>
		<li><a href="http://www.jevylee.com/" target="_blank">JevyLee</a></li>
		<li><a href="http://www.siyonli.com/" target="_blank">大晚的博客</a></li>
		<li><a href="http://www.ihypo.net/" target="_blank">梦续代码</a></li>
		<li><a href="http://www.peng8.net/" target="_blank">peng8|鹏吧</a></li>
	</ul>
</div>