<div class="widget main-g-3">
    <div class="main-m3-cont">
        <div class="contents">
            {{ content }}
        </div>
        <div class="more-article new-article">
            <h3>热门推荐文章</h3>
            <div class="pics-cont" style="width:1200px;">
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布html5系列.画布</a></dd>
                </dl>
                <dl>
                    <dt><a href="#"><img src="images/demo3.jpg" width="138" height="105" data-bd-imgshare-binded="1"></a></dt>
                    <dd><a href="#">html5系列.画布html5系列.画布</a></dd>
                </dl>
            </div>
        </div>

    </div>
</div>