<div class="widget">
	<h2 class="member">最新评论</h2>

	<dl class="ds-recent-comments" data-show-title="0" data-show-admin="0" ></dl>

	<!-- div class="item-options">
		<a href="#">最新</a>
		<a href="#">活跃</a>
		<a href="#">流行</a>
	</div>
	<div class="item-avatar">
		<dl>
			<dt><a href="#"><img src="images/demo1.jpg" width="80" height="80" /></a></dt>
			<dd class="name">
				<a href="#">小豌豆</a> 3小时前
				<p class="activity">
					不加班反而会问没事做了，很有道理！！！！！！
				</p>
			</dd>
		</dl>
		<dl>
			<dt><a href="#"><img src="images/demo1.jpg" width="80" height="80" /></a></dt>
			<dd class="name">
				<a href="#">小豌豆</a> 3小时前
				<p class="activity">
					不加班反而会问没事做了，很有道理！！！！！！
				</p>
			</dd>
		</dl>
		<dl>
			<dt><a href="#"><img src="images/demo1.jpg" width="80" height="80" /></a></dt>
			<dd class="name">
				<a href="#">小豌豆</a> 3小时前
				<p class="activity">
					不加班反而会问没事做了，很有道理！！！！！！
				</p>
			</dd>
		</dl>
	</div-->
</div>