<div class="container head cl">
	<span class="logo">努力的人还是有机会的...</span>
	<div class="head-r">
		<form id="search-form" class="form-group has-success visible-lg" role="form">
			<input type="text" class="form-control input-sm" placeholder="搜索..." id="query">
		</form>
	</div>
</div>
<div class="nav">
	<div class="container">
		<ul>
			<li><a {% if page.menu == nil %}class="on"{% endif %} href="/">首页</a></li>
			<li><a {% if page.menu == 'skill' %}class="on"{% endif %} href="#">技术专区</a></li>
			<li><a {% if page.menu == 'essay' %}class="on"{% endif %} href="#">日志随笔</a></li>
			<li><a {% if page.menu == 'time' %}class="on"{% endif %} href="#">时光轴</a></li>
			<!--li><a {% if page.menu == 'read' %}class="on"{% endif %} href="/read">阅读书籍</a></li-->
			<li><a {% if page.menu == 'about' %}class="on"{% endif %} href="#">个人介绍</a></li>
			
		</ul>
	</div>
</div>