<!--置顶栏-->
<div class="container intro">
	<div class="intro-warp cl">
		<div class="col-my-36">
			<dl>
				<dt><a href="#"><img src="{{ site:staticurl }}/resources/images/base/ad-1.jpg" width="120" height="120" /></a></dt>
				<dd class="intro-hd"><a href="#">QCon 2014 全球软件开发大会 北京发大会 北京发大会 北京</a> </dd>
				<dd class="intro-ft">QCon 2014 全球软件开发大会 北京站 4月25-27日球软件开发大会 北京站 球软件开发大会 北京站 球件开发大会 北京站 球软件开发大 </dd>
			</dl>
		</div>
		<div class="col-my-36">
			<dl>
				<dt><a href="#"><img src="{{ site:staticurl }}/resources/images/base/ad-1.jpg" width="120" height="120" /></a></dt>
				<dd class="intro-hd"><a href="#">QCon 2014 全球软件开25-27日</a> </dd>
				<dd class="intro-ft">QCon 2014 全球软件开发大会 北京站 4月件开发大会 北京站 球件开发大会 北京站 球软件开发大 </dd>
			</dl>
		</div>
		<div class="col-my-28 intro-list">
			<p class="bt-box">置顶推荐</p>
			<ul>
				<li><a href="#">4月25-27日球软件开发大会球软件开发大会</a></li>
				<li><a href="#">4月25-27日球软件开发大会球软件开发大会</a></li>
				<li><a href="#">4月25-27日球软件开发大会球软件开发大会</a></li>
			</ul>
		</div>
	</div>
</div>