---
layout: default
---
<div class="detail-bd">
	<h1>{{ page.title }}</h1>
	<div class="deatil-t-hd">
		<span class="t-sp1">来源：<em>{{ page.origin }} ({{ page.date | date:"%Y-%m-%d" }})</em></span>
		<span class="t-sp2">标签：
			<em>
				{% for tag in page.tags %}
					<a href="/tags.html#{{ tag }}">{{ tag }}</a>
				{% endfor %}
			</em>
		</span>
		<span class="t-sp4">评论：<em><span style="margin-left:-10px;" class="ds-thread-count" data-thread-key="{{ page.id }}" ></span></em></span>
	</div>
	
	<div class="detail-cont">
		{{ content}}
	</div>
	<div class="detail-fx">
		<span class="fx-sp">分享文章到：</span>
		<div class="bdsharebuttonbox">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
			<a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
			<a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
			<a href="#" class="bds_hi" data-cmd="hi" title="分享到百度空间"></a>
		</div>
		<script>
			window._bd_share_config={
				"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},
				"share":{},
				"image":{"viewList":["qzone","tsina","tqq","renren","weixin","douban","hi"],"viewText":"分享到：","viewSize":"16"},
				"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin","douban","hi"]}
			};
			with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</div>
	<div class="detail-ud">
		{% if page.previous %}
			<p>上一篇:<a href="{{ page.previous.url}}" ><b class="mobile-ignore">{{ page.previous.title }}</b></a></p>
	    {% endif %}
		{% if page.next %}
			<p>下一篇:<a href="{{ page.next.url }}" ><b class="mobile-ignore">{{ page.next.title }}</b></a></p>
		{% endif %}
	</div>
</div>

<!--相关文章 -->
<div class="detail-xg">
	<div class="bt-hd">
		<span>相关文章 </span>
	</div>
	<div class="intro-list detail-xg-u cl">
		<script type="text/javascript" id="wumiiRelatedItems"></script>
		<ul>
			{% for post in site.categories[page.category] limit:6 %}
				<li><a href="{{ post.url }}">{{ post.title  }}</a></li>
			{% endfor  %}
		</ul>
	</div>
</div>
<div class="detail-xg">
	<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" ></div>
</div>